@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 400;
}
@font-face
{
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 600;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #191919;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-family: 'Pretendard-Medium';
    font-weight: 400;
}
h2{
    position: absolute;
    top: -9999em;
    left: -9999em;
}

body{
    width: 100vw;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
header{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 10;
    height: 60px;
    border-bottom: 1px solid #d1d1d1;
}

.headerBox{
    width: 92%;
    max-width: 1140px;
    margin: 0 auto;
}
.logoBox a{
    display: block;
    width: 80px;
    height: 60px;
}
.logoBox a img{
    width: 100%;
    margin-top: 18px;
}





main{
    width: 100%;
    height: 100%;
}
main #visual{
    width: 100%;
    height: 969px;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/fc55c810-a79d-4d28-a7ce-14fcb4a54857);
    position: relative;
    top: 0;
    text-align: center;
}

.visual{
    width: 100%;
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}


.visual .visTextBox{
    position: absolute;
    width: 100%;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.visual .visTextBox p{
    font-size: 60px;
    font-family: 'Pretendard-Bold';
    font-weight: 600;
}



.viewBox{
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translateX(-50%);
}

.viewBox a{
    font-size: 18px;
    font-family: 'Pretendard-Medium';
    font-weight: 400;
    display: block;
    width: 200px;
    height: 48px;
    line-height: 48px;
    border-radius: 10px;
    background: #191919c4;
    color: #fff;
}
.pjCont::-webkit-scrollbar {
    display: none;
  }
.projectBox{
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 15;

    display: none;
}
.pjBg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.pjClose{
    position: fixed;
    right: 200px;
    top: 100px;

    width: 48px;
    height: 48px;

    cursor: pointer;
}
.pjTop{
    position: fixed;
    right: 200px;
    top: 160px;

    width: 48px;
    height: 48px;

    cursor: pointer;
}
.pjCont{
    position: absolute;
    width: 100%;
    max-width: 1366px;
    height: 21974px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
    overflow-x: hidden;
}
.pjImg{
    width: 1366px;
    height: 21974px;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/4f279344-dae6-4a71-aeb9-232604e2d797) no-repeat center;
}

#text{
    width: 100%;
    position: relative;
}
.textBox{
    background: rgb(247, 247, 247);
}
.textCont{
    width: 92%;
    max-width: 1140px;
    text-align: center;
    padding-top: 550px;
    padding-bottom: 100px;
    margin: 0 auto;
}

.vsPhone{
    width: 800px;
    height: 812px;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/63f7832b-84a0-4950-beed-7a8f24003a3d) no-repeat center;
    background-size: cover;

    position: absolute;
    top: -350px;
    left: 550px;
}

.textCont li{
    margin-top: 16px;
}
.textCont li:nth-of-type(1){
    margin-top: 0;
}
.textCont p{
    font-family: 'Pretendard-Bold';
    font-size: 32px;
    font-weight: 600;
}

.tcText1,
.tcText2,
.tcText3{
    display: block;
    margin-top: 100px;
}

#mainCont{
    width: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 300px;
}

.homeBox{
    width: 92%;
    max-width: 1140px;
    height: 1200px;
    margin: 0 auto;
    position: relative;
}

.hmText1 p{
    font-family: 'Pretendard-Bold';
    font-size: 28px;
    font-weight: 600;
    color: #10c265;
}

.hmText2 p{
    font-family: 'Pretendard-Bold';
    font-size: 52px;
    font-weight: 600;
    line-height: 72px;
}

.hmText2{
    margin-top: 36px;
}

.hmImg1{
    position: absolute;
    top: 180px;
    right: 0;
    width: 454px;
    height: 856px;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/07a65237-1a53-4e95-8156-44ea9cb2f394) no-repeat;
    background-size: cover;
}
.hmImg2{
    position: absolute;
    top: 560px;
    left: -60px;
    width: 454px;
    height: 856px;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/505f772c-149c-4609-8da6-5efafc0d2996) no-repeat;
    background-size: cover;
}

.homeTextBot{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 24px;
    line-height: 40px;
}

#guideCont{
    width: 100%;
    height: 2300px;
    position: relative;
    padding-top: 100px;
    background: rgb(247, 247, 247);
}

.guideBox{
    width: 92%;
    max-width: 1140px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}

.gdText1 p{
    font-family: 'Pretendard-Bold';
    font-size: 28px;
    font-weight: 600;
    color: #10c265;
}

.gdText2{
    margin-top: 36px;
}
.gdText2 p{
    font-family: 'Pretendard-Bold';
    font-size: 52px;
    font-weight: 600;
    line-height: 72px;
}

.guideMusBox{
    margin-top: 200px;
    height: 320px;
}

.gdMusText1 p,
.gdMcText1 p,
.gdStText1 p{
    font-family: 'Pretendard-Bold';
    font-size: 20px;
    font-weight: 600;
    color: #10c265;
}

.gdMusText2,
.gdMcText2,
.gdStText2{
    margin-top: 28px;
}
.gdMusText2 p,
.gdMcText2 p,
.gdStText2 p{
    font-family: 'Pretendard-Bold';
    font-size: 40px;
    font-weight: 600;
}

.gdMusText3,
.gdStText3,
.gdMcText3{
    margin-top: 20px;
}
.gdMusText3 p,
.gdStText3 p,
.gdMcText3 p{
    font-size: 24px;
    color: #696969;
}

.gdImg1{
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/92e787b1-2740-4e83-a6cb-61d67847ad46) center no-repeat;
    background-size: cover;
    width: 486px;
    height: 400px;
    position: absolute;

    right: 0px;
    bottom: -20px;
}
.guideStBox{
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 200px;
}
.guideSt{
    display: block;
    position: absolute;
    top: 80px;
    right: 0px;
    width: 400px;
}
.stImgBox{
    width: 400px;
    height: 400px;
}
.gdImgSt1,
.gdImgSt2,
.gdImgSt3,
.gdImgSt4{
    display: block;
    background-size: cover;
    width: 190px;
    height: 190px;
    border-radius: 10px;
    box-shadow: -5px 5px 5px #dbdbdb;
}
.gdImgSt1{
    float: left;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/dac0f828-3cca-4e32-a8bf-9803e0fed09b) center;
}
.gdImgSt2{
    float: right;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/6beadb48-bb8a-4c4d-af93-7d850f89e8bf) center;
}
.gdImgSt3{
    margin-top: 20px;
    float: left;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/cf266a54-c6e5-4b56-8424-44cf78e5edb4) center;

}
.gdImgSt4{
    margin-top: 20px;
    float: right;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/07490fe9-4692-4ddd-952a-421cb7e2e1fa) center;
}

.guideMcBox{
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 200px;
}
.guideMc{
    width: 500px;
    margin-top: 50px;
    float: left;
}


.gdImgBox{
    width: 600px;
    height: 400px;
    position: relative;
    bottom: 100px;
    float: right;
}

.gdImgMc1,
.gdImgMc2,
.gdImgMc3{
    width: 240px;
    height: 240px;
    background-size: cover;
    position: absolute;
    border-radius: 10px;

    box-shadow: -5px 5px 5px #dbdbdb;
}

.gdImgMc1{
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/a4f0ea11-fa65-4d01-bdf4-298fd731a0b1) no-repeat center;
    top: 200px;
}
.gdImgMc2{
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/145378aa-7980-43d2-90a6-85e1e77fbe2b) no-repeat center;
    left: 35%;
    top: 100px;
}
.gdImgMc3{
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/0a078011-867a-4ac6-a7ca-c60a717c1f84) no-repeat center;
    right: 0;
    top: 250px;
}





#rutineCont{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.rutineBox{
    width: 92%;
    max-width: 1140px;
    height: 850px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.rtText1 p{
    font-family: 'Pretendard-Bold';
    font-size: 28px;
    font-weight: 600;
    color: #10c265;
}
.rtText2{
    margin-top: 36px;
}
.rtText2 p{
    font-family: 'Pretendard-Bold';
    font-size: 52px;
    font-weight: 600;
    line-height: 72px;
}
.appAni{
    width: 394px;
    height: 798px;
    background: #fcfcfc;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    border-radius: 60px;
    overflow: hidden;
}
.rutineCase{
    height: 810px;
}
.rutineCase img{
    width: 394px;
    height: 800px;
}
.rtScl{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 364px;
    height: 90%;
    overflow: hidden;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/81dbaec8-45a4-4d45-bbf7-db284749a4e1) no-repeat 0px -5px;
    background-size: cover;

    animation-name: rtAni;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@-webkit-keyframes rtAni{ 
    0%{
        top: 200px;
    }
    30%{
        top: 45px;
    }
    100%{
        top: 45px;
    }
}


.rtScl img{
    width: 364px;
    height: 950px;
}

.rutinCle{
    width: 330px;
    height: 124px;
    background-color: #02b05cb2;
    position: absolute;
    bottom: 258px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    animation-name: boxAni;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes boxAni{ 
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}


.rtCir{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.rtCir circle{
    opacity: 1;
    stroke-width: 2px;
    stroke: #ffffff;
    stroke-dashoffset: 1000;
    stroke-dasharray: 750;
    animation: cirAni 5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@-webkit-keyframes cirAni{ 
    0%{
        stroke-dashoffset: 1000;
        fill: transparent;
    }
    50%{
        fill: transparent;
    }
    60%{
        fill: white;
    }
    70%{
        fill: white;
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

.rtCh{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.rutineTextBot{
    position: absolute;
    bottom: 50px;
}
.rtText3{
    line-height: 72px;
    margin-bottom: 60px;
}
.rtText3 p{
    font-family: 'Pretendard-Bold';
    font-size: 52px;
    font-weight: 600;
}
.rtText3 span{
    font-family: 'Pretendard-Bold';
    font-size: 52px;
    font-weight: 600;
    background: linear-gradient(to right top, #9aff78, #55c8d4);
    color: transparent;
    -webkit-background-clip: text;
}

.rtText4 p{
    font-size: 24px;
    line-height: 36px;
}

.phoneShadow{
    width: 495px;
    height: 830px;
    position: absolute;
    top: 28px;
    right: 0px;
    z-index: -3;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/fb2e23cf-deba-4798-a839-1011b3b0848c) no-repeat center;
    background-size: cover;
}


#statistics{
    width: 100%;
    background: rgb(247, 247, 247);
}

.staBox{
    width: 92%;
    height: 1260px;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 100px;
}

.stText1 p{
    font-family: 'Pretendard-Bold';
    font-size: 28px;
    font-weight: 600;
    color: #10c265;
}

.stText2{
    margin-top: 36px;
}
.stText2 p{
    font-family: 'Pretendard-Bold';
    font-size: 52px;
    font-weight: 600;
    line-height: 72px;
}


.stContBox{
    margin-top: 80px;
}

.htBalan,
.myRoutine,
.partSta{
    width: 50%;
    height: 400px;
    float: left;
}

.stContBox p{
    font-size: 22px;
}

.hbText li:nth-of-type(1) p,
.mrText li:nth-of-type(1) p,
.psText li:nth-of-type(1) p{
    font-family: 'Pretendard-Bold';
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hbImg,
.mrImg,
.psImg{
    width: 120px;
    height: 120px;
    background-color: red;
    margin-bottom: 40px;
}

.hbImg{
    width: 210px;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/7b1a02b7-e2fc-4389-848c-98a0f14eee67) no-repeat center;
    background-size: cover;
}
.mrImg{
    width: 122px;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/02edfa8b-8fba-4cc4-9eed-2b5243053e8e) no-repeat center;
    background-size: cover;
}
.psImg{
    width: 180px;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/ea5e0317-fd35-4ba5-a4f3-2b0b0c6db55b) no-repeat center;
    background-size: cover;
}


footer{
    height: 400px;
}

.fooBox{
    width: 92%;
    max-width: 1140px;
    height: 330px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 10px;
    position: relative;

    border-top: 1px solid lightgray;

}

.fooLogo{
    text-align: center;
    width: 240px;
    margin: 0 auto;
}
.fooLogo img{
    width: 100%;
}
.fooImg{
    width: 1920px;
    height: 969px;
    background: url(https://github.com/simjsik/hackbo.github.io/assets/39624384/bcc93e1a-7752-4c2a-8c80-98d95ab0ac62) no-repeat center;
    background-size: cover;
}
.fooText{
    position: absolute;
    bottom: 24px;

    width: 100%;
}
.fooText p{
    display: inline-block;
    position: absolute;
    font-family: 'Pretendard-Bold';
    font-weight: 600;
}

.fooText p:nth-of-type(2){
    left: 50%;
    transform: translateX(-50%);
}
.fooText p:nth-of-type(3){
    right: 0;
}

