.mobile {
  display: none;
}

/* pallax */

.multi_text_wrap p,
.multi_text_wrap b,
.multi_text_wrap i,
.nataejoo_text_wrap p,
.nataejoo_text_wrap b,
.nataejoo_text_wrap i,
.yonsei_text_wrap p,
.yonsei_text_wrap b,
.yonsei_text_wrap i,
.nataejoo_img2,
.yonsei_img2,
.nataejoo_img4,
.yonsei_img4
{
  transform: translateX(100px);
  opacity: 0;
}


.multi_text_wrap.active> p,
.nataejoo_text_wrap.active> p,
.yonsei_text_wrap.active> p
{
  transform: translateX(0px);
  opacity: 1;
  transition: all .5s;
}


.multi_text_wrap.active> b,
.nataejoo_text_wrap.active> b,
.yonsei_text_wrap.active> b
{
  transition: all 1s;
  transform: translateX(0px);
  opacity: 1;
  transition-delay: .5s;
}


.multi_text_wrap.active> i,
.nataejoo_text_wrap.active> i,
.yonsei_text_wrap.active> i
{
  transition: all 1s;
  transform: translateX(0px);
  opacity: 1;
  transition-delay: 1s;
}

.multi_img1,
.nataejoo_img1,
.nataejoo_img3,
.yonsei_img1,
.yonsei_img3
{
  transform: translateX(-100px);
  opacity: 0;
}
.nataejoo_img3_wrap.active> .nataejoo_img3,
.yonsei_img3_wrap.active> .yonsei_img3
{
  transition: all 1s;
  transform: translateX(0px);
  opacity: 1;
  transition-delay: 2.5s;
}

.nataejoo_img2_wrap.active> .nataejoo_img2,
.yonsei_img2_wrap.active> .yonsei_img2
{
  transition: all 1s;
  transform: translateX(0px);
  opacity: 1;
  transition-delay: 2s;
}

.multi_img1_wrap.active> .multi_img1,
.nataejoo_img1_wrap.active> .nataejoo_img1,
.yonsei_img1_wrap.active> .yonsei_img1
{
  transition: all 1s;
  transform: translateX(0px);
  opacity: 1;
  transition-delay: 1.5s;
}



.nataejoo_img4_wrap.active> .nataejoo_img4,
.yonsei_img4_wrap.active> .yonsei_img4
{
  transition: all 1s;
  transform: translateX(0px);
  opacity: 1;
  transition-delay: 3s;
}


.multi_img2{
  transform: translateY(-100px);
  opacity: 0;
}

.multi_img2_wrap.active> .multi_img2{
  transition: all 1s;
  transition-delay: 2s;
  transform: translateY(0);
  opacity: 1;
}

.multi_img3{
  transform: translateY(50px);
  opacity: 0;
}

.multi_img3_wrap.active> .multi_img3{
  transition: all 1s;
  transition-delay: 2.5s;
  transform: translateY(0);
  opacity: 1;
}

.multi1_text img,
.yonsei1_text img,
.yonsei1_text2 img
{
  opacity: 0;
}

.multi_textimg_box.active> .multi1_text img,
.yonsei_textimg_box.active> .yonsei1_text img,
.yonsei_textimg_box.active> .yonsei1_text2 img
{
  transition: all 1s;
  transform: translateX(-50%);
  opacity: 1;
  transition-delay: 2.5s;
}



.video_wall {
  display: none;
  position: absolute;
  width: 100%;
  height: 1080px;
  z-index: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
}


.visual_svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: red; */
}


.visual_svg path{
  fill: transparent;
  stroke-width: 1px;
  stroke: #fff;
  stroke-dashoffset: 750;
  stroke-dasharray: 750;
  animation: stroke 4s linear;
  animation-fill-mode: forwards;
}

@keyframes stroke { 
  0% { 
    stroke-dashoffset: 750; 
  } 
  40% {
    fill: transparent;
  }
  100% { 
    stroke-dashoffset: 0; 
    fill: #fff;
  } 
}

.show_vid {
  display: none;
}

.multi_text_wrap,
.yonsei_text_wrap,
.nataejoo_text_wrap {
  text-align: center;
  margin-top: 50px;
}

.multi_text_wrap p,
.yonsei_text_wrap p,
.nataejoo_text_wrap p {
  font-size: 18px;
  font-weight: 300;
}

.multi_text_wrap b,
.yonsei_text_wrap b,
.nataejoo_text_wrap b {
  display: block;
  font-size: 30px;
  font-weight: 800;
  margin-top: 16px;
}

.multi_text_wrap i,
.yonsei_text_wrap i,
.nataejoo_text_wrap i {
  display: block;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  margin-top: 8px;
}

.nataejoo_text_wrap b,
.nataejoo_text_wrap i {
  font-family: 'Noto Sans KR', sans-serif;
}



.sub2_visual_img {
  background: url(../img/show/sub2_768.jpg) center;
  background-size: cover;
  width: 100%;
  max-width: 768px;
  height: 680px;
}

.multi_img_box,
.nataejoo_img_box,
.yonsei_img_box {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  /* background: red; */
  width: 87.5%;
  max-width: 520px;
  height: 640px;
}

.multi_textimg_box,
.yonsei_textimg_box{
  position: relative;
  top: -642px;
  width: 100%;
  height: 640px;
  /* background: red; */
}
.multi_img1 img{
  width: 100%;
  max-width: 520px;
  height: 640px;
  object-fit: cover;
}
.multi1_text img{
  display: block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-40%);
  width: 90%;
  /* height: 120px; */
  /* background: red; */
  z-index: 1;
}

.nataejoo_img1 img{
  width: 100%;
  height: 640px;
  object-fit: cover;
}

.yonsei_img1_wrap{
  height: 640px;
}

.yonsei_img1 img{
  width: 100%;
  height: 640px;
  object-fit: cover;
}
.yonsei1_text img{
  position: absolute;
  width: 100%;
  max-width: 400px;
  top: 0px;
  left: 50%;
  transform: translateX(-40%);
}
.yonsei1_text2 img{
  position: absolute;
  width: 100%;
  max-width: 400px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-60%);
}

.multi_seemore,
.nataejoo_seemore,
.yonsei_seemore {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 32px;
  background: rgb(31, 31, 31);
  border-radius: 50px;
  line-height: 32px;
}

.multi_seemore a,
.nataejoo_seemore a,
.yonsei_seemore a {
  color: white;
  font-size: 15px;
}

/* 768 */
@media screen and (min-width:768px) {
  .mobile {
    display: block;
  }
  
  .video_wall {
    display: none;
    position: absolute;
    width: 100%;
    height: 1080px;
    z-index: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .show_vid {
    display: none;
  } 
  
  .multi_text_wrap,
  .yonsei_text_wrap,
  .nataejoo_text_wrap {
    text-align: center;
    margin-top: 80px;
  }

  .multi_text_wrap span,
  .yonsei_text_wrap span,
  .nataejoo_text_wrap span {
    display: inline;
  }
  
  .multi_text_wrap p,
  .yonsei_text_wrap p,
  .nataejoo_text_wrap p {
    font-size: 20px;
    font-weight: 300;
  }
  
  .multi_text_wrap b,
  .yonsei_text_wrap b,
  .nataejoo_text_wrap b {
    display: block;
    font-size: 40px;
    font-weight: 800;
    margin-top: 16px;
  }
  
  .multi_text_wrap i,
  .yonsei_text_wrap i,
  .nataejoo_text_wrap i {
    display: block;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    margin-top: 8px;
  }
  
  .nataejoo_text_wrap b,
  .nataejoo_text_wrap i {
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  
  
  .sub2_visual_img {
    background: url(../img/show/sub2_768.jpg) center;
    background-size: cover;
    width: 100%;
    max-width: 1024px;
    height: 969px;
  }
  
  
  .visual_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: red; */
  }
  .visual_svg path{
    fill: transparent;
    stroke-width: 1px;
    stroke: #fff;
    stroke-dashoffset: 750;
    stroke-dasharray: 750;
    animation: stroke 4s linear;
    animation-fill-mode: forwards;
  }
  

  .multi_img_box,
  .nataejoo_img_box,
  .yonsei_img_box {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    /* background: red; */
    width: 95%;
    max-width: 1024px;
    height: 1100px;
  }
  
  .multi_textimg_box{
    top: 300px;
    width: 50%;
    /* background: red; */
  }

  .multi_img1 img{
    position: absolute;
    width: 50%;
    max-width: 520px;
    height: 600px;
    object-fit: cover;
  }

  .multi1_text img{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    /* height: 120px; */
    /* background: red; */
    z-index: 1;
  }
  

  .multi_img2{
    position: absolute;
    top: 0;
    right: 0%;
    display: block;
    width: 50%;
    height: 600px;
    background: url(../img/show/multi2.jpg) no-repeat center;
    background-size: cover;
  }
  .multi_img3{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 500px;
    background: url(../img/show/768multi3.jpg) no-repeat left;
    background-size: cover;
  }

  
  .nataejoo_img1 img{
    position: absolute;
    width: 49.8%;
    height: 549px;
    object-fit: cover;
  }
  .nataejoo_img2{
    position: absolute;
    right: 0%;
    display: block;
    width: 49.8%;
    height: 549px;
    background: url(../img/show/nataejoo2.jpg) no-repeat center;
    background-size: cover;
  }
  .nataejoo_img3{
    position: absolute;
    bottom: 0;
    left: 0%;
    display: block;
    width: 49.8%;
    height: 549px;
    background: url(../img/show/nataejoo3.jpg) no-repeat center;
    background-size: cover;
  }
  .nataejoo_img4{
    position: absolute;
    bottom: 0;
    right: 0%;
    display: block;
    width: 49.8%;
    height: 549px;
    background: url(../img/show/nataejoo4.jpg) no-repeat center;
    background-size: cover;
  }
  

  .yonsei_img1 img{
    position: absolute;
    width: 49.8%;
    height: 549px;
    object-fit: cover;
  }

  .yonsei_textimg_box{
    top: 0;
    width: 50%;
    /* background: red; */

  }

  .yonsei1_text img{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-40%);
  }
  .yonsei1_text2 img{
    position: absolute;
    width: 100%;
    bottom: 120px;
    left: 50%;
    transform: translateX(-60%);
  }

  .yonsei_img2{
    position: absolute;
    top: 0;
    right: 0%;
    display: block;
    width: 49.8%;
    height: 549px;
    background: url(../img/show/yonsei2.jpg) no-repeat center;
    background-size: cover;
  }
  .yonsei_img3{
    position: absolute;
    bottom: 0;
    left: 0%;
    display: block;
    width: 49.8%;
    height: 549px;
    background: url(../img/show/yonsei3.jpg) no-repeat top;
    background-size: cover;
  }
  .yonsei_img4{
    position: absolute;
    bottom: 0;
    right: 0%;
    display: block;
    width: 49.8%;
    height: 549px;
    background: url(../img/show/yonsei4.jpg) no-repeat top;
    background-size: cover;
  }
  

  
  .multi_seemore,
  .nataejoo_seemore,
  .yonsei_seemore {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    height: 32px;
    border-radius: 50px;
    line-height: 32px;
  }
  
  .multi_seemore a,
  .nataejoo_seemore a,
  .yonsei_seemore a {
    color: white;
    font-size: 15px;
  }
  
}

/* 1024 */

@media screen and (min-width:1024px) {
  .mobile {
    display: none;
  }
  
  .video_wall {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    /* background: red; */
  }
  
  .vid_box{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
  }
  .show_vid {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    min-width: 1024px;
    border: none;
    z-index: -3;
  } 
  
  
  
  
  .sub2_visual_img {
    background: none;
    background-size: cover;
    width: 100%;
    max-width: 1024px;
    height: 969px;
  }
  
  .visual_wrap{
    position: absolute;
    top: 0px;
    /* background: rgb(255, 208, 208); */
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .visual_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: red; */
    z-index: 5;
  }
  
  @keyframes stroke { 
    0% { 
      stroke-dashoffset: 750; 
    } 
    30% {
      fill: transparent;
    }
    50%{
      stroke-dashoffset: 0; 
    }
    50%{
      fill: #fff;
    }
    100% { 
      stroke: transparent;
      fill: transparent;
    } 
  }

  .visual_svg path{
    fill: transparent;
    stroke-width: 1px;
    stroke: #fff;
    stroke-dashoffset: 750;
    stroke-dasharray: 750;
    animation: stroke 6s linear;
    animation-fill-mode: forwards;
  }
  
 
  
  .multi_text_wrap,
  .yonsei_text_wrap,
  .nataejoo_text_wrap {
    text-align: center;
    margin-top: 80px;
  }

  .multi_text_wrap span,
  .yonsei_text_wrap span,
  .nataejoo_text_wrap span {
    display: inline;
  }
  
  .multi_text_wrap p,
  .yonsei_text_wrap p,
  .nataejoo_text_wrap p {
    font-size: 24px;
    font-weight: 300;
  }
  
  .multi_text_wrap b,
  .yonsei_text_wrap b,
  .nataejoo_text_wrap b {
    display: block;
    font-size: 50px;
    font-weight: 800;
    margin-top: 16px;
  }
  
  .multi_text_wrap i,
  .yonsei_text_wrap i,
  .nataejoo_text_wrap i {
    display: block;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    margin-top: 8px;
  }
  
  .nataejoo_text_wrap b,
  .nataejoo_text_wrap i {
    font-family: 'Noto Sans KR', sans-serif;
  }

  .multi_img_box,
  .nataejoo_img_box,
  .yonsei_img_box {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    /* background: red; */
    width: 95%;
    max-width: 1200px;
    height: 1320px;
  }

  .multi_img1 img{
    position: absolute;
    width: 50%;
    max-width: 600px;
    height: 700px;
    object-fit: cover;
  }

  .multi1_text img{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    /* height: 120px; */
    /* background: red; */
    z-index: 1;
  }

  .multi_img2{
    position: absolute;
    right: 0%;
    display: block;
    width: 50%;
    height: 700px;
    background: url(../img/show/multi2.jpg) no-repeat center;
    background-size: cover;
  }
  .multi_img3{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 620px;
    background: url(../img/show/768multi3.jpg) no-repeat left;
    background-size: cover;
  }

  
  .nataejoo_img1 img{
    position: absolute;
    width: 49.8%;
    height: 658px;
    object-fit: cover;
  }
  .nataejoo_img2{
    position: absolute;
    right: 0%;
    display: block;
    width: 49.8%;
    height: 658px;
    background: url(../img/show/nataejoo2.jpg) no-repeat center;
    background-size: cover;
  }
  .nataejoo_img3{
    position: absolute;
    bottom: 0;
    left: 0%;
    display: block;
    width: 49.8%;
    height: 659px;
    background: url(../img/show/nataejoo3.jpg) no-repeat center;
    background-size: cover;
  }
  .nataejoo_img4{
    position: absolute;
    bottom: 0;
    right: 0%;
    display: block;
    width: 49.8%;
    height: 659px;
    background: url(../img/show/nataejoo4.jpg) no-repeat center;
    background-size: cover;
  }
  

  .yonsei_img1 img{
    position: absolute;
    width: 49.8%;
    height: 658px;
    object-fit: cover;
  }

  .yonsei_textimg_box{
    top: 0;
    width: 50%;
    /* background: red; */

  }

  .yonsei1_text img{
    position: absolute;
    width: 100%;
    max-width: 500px;
    top: 0px;
    left: 50%;
    transform: translateX(-40%);
  }
  .yonsei1_text2 img{
    position: absolute;
    width: 100%;
    max-width: 500px;
    bottom: 5%;
    left: 50%;
    transform: translateX(-60%);
  }

  .yonsei_img2{
    position: absolute;
    right: 0%;
    display: block;
    width: 49.8%;
    height: 658px;
    background: url(../img/show/yonsei2.jpg) no-repeat center;
    background-size: cover;
  }
  .yonsei_img3{
    position: absolute;
    bottom: 0;
    left: 0%;
    display: block;
    width: 49.8%;
    height: 658px;
    background: url(../img/show/yonsei3.jpg) no-repeat top;
    background-size: cover;
  }
  .yonsei_img4{
    position: absolute;
    bottom: 0;
    right: 0%;
    display: block;
    width: 49.8%;
    height: 658px;
    background: url(../img/show/yonsei4.jpg) no-repeat top;
    background-size: cover;
  }
  

  
  .multi_seemore,
  .nataejoo_seemore,
  .yonsei_seemore {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 128px;
    height: 40px;
    border-radius: 50px;
    line-height: 40px;
  }
  
  .multi_seemore a,
  .nataejoo_seemore a,
  .yonsei_seemore a {
    color: white;
    font-size: 18px;
  }
  
}

/* 1300 */
@media screen and (min-width:1300px) {
  .mobile {
    display: none;
  }
  
  .video_wall {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    /* background: red; */
  }
  
  .vid_box{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
  }
  .show_vid {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    min-width: 1024px;
    border: none;
    z-index: -3;
  } 
  
  
  
  
  .sub2_visual_img {
    background: none;
    background-size: cover;
    width: 100%;
    max-width: 1024px;
    height: 969px;
  }
  
  .visual_wrap{
    position: absolute;
    top: 0px;
    /* background: rgb(255, 208, 208); */
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .visual_svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: red; */
    z-index: 5;
  }
  
  @keyframes stroke { 
    0% { 
      stroke-dashoffset: 750; 
    } 
    30% {
      fill: transparent;
    }
    50%{
      stroke-dashoffset: 0; 
    }
    50%{
      fill: #fff;
    }
    100% { 
      stroke: transparent;
      fill: transparent;
    } 
  }

  .visual_svg path{
    fill: transparent;
    stroke-width: 1px;
    stroke: #fff;
    stroke-dashoffset: 750;
    stroke-dasharray: 750;
    animation: stroke 6s linear;
    animation-fill-mode: forwards;
  }
  
 
  
  .multi_text_wrap,
  .yonsei_text_wrap,
  .nataejoo_text_wrap {
    text-align: center;
    margin-top: 140px;
  }

  .multi_text_wrap span,
  .yonsei_text_wrap span,
  .nataejoo_text_wrap span {
    display: inline;
  }
  
  .multi_text_wrap p,
  .yonsei_text_wrap p,
  .nataejoo_text_wrap p {
    font-size: 30px;
    font-weight: 300;
  }
  
  .multi_text_wrap b,
  .yonsei_text_wrap b,
  .nataejoo_text_wrap b {
    display: block;
    font-size: 60px;
    font-weight: 800;
    margin-top: 24px;
  }
  
  .multi_text_wrap i,
  .yonsei_text_wrap i,
  .nataejoo_text_wrap i {
    display: block;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    margin-top: 12px;
  }
  
  .nataejoo_text_wrap b,
  .nataejoo_text_wrap i {
    font-family: 'Noto Sans KR', sans-serif;
  }

  .multi_img_box,
  .nataejoo_img_box,
  .yonsei_img_box {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 20px;
    /* background: red; */
    width: 95%;
    max-width: 1400px;
    height: 1600px;
  }

  .multi_img1 img{
    position: absolute;
    width: 50%;
    max-width: 700px;
    height: 820px;
    object-fit: cover;
  }

  .multi1_text img{
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 520px;
    /* height: 120px; */
    /* background: red; */
    z-index: 1;
  }


  .multi_img2{
    position: absolute;
    right: 0%;
    display: block;
    width: 50%;
    max-width: 700px;
    height: 820px;
    background: url(../img/show/multi2.jpg) no-repeat center;
    background-size: cover;
  }
  .multi_img3{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 780px;
    background: url(../img/show/768multi3.jpg) no-repeat left;
    background-size: cover;
  }

  
  .nataejoo_img1 img{
    position: absolute;
    width: 49.8%;
    height: 798px;
    object-fit: cover;
  }
  .nataejoo_img2{
    position: absolute;
    right: 0%;
    display: block;
    width: 49.8%;
    height: 798px;
    background: url(../img/show/nataejoo2.jpg) no-repeat center;
    background-size: cover;
  }
  .nataejoo_img3{
    position: absolute;
    bottom: 0;
    left: 0%;
    display: block;
    width: 49.8%;
    height: 798px;
    background: url(../img/show/nataejoo3.jpg) no-repeat center;
    background-size: cover;
  }
  .nataejoo_img4{
    position: absolute;
    bottom: 0;
    right: 0%;
    display: block;
    width: 49.8%;
    height: 798px;
    background: url(../img/show/nataejoo4.jpg) no-repeat center;
    background-size: cover;
  }
  

  .yonsei_img1 img{
    position: absolute;
    width: 49.8%;
    height: 798px;
    object-fit: cover;
  }

  .yonsei1_text img{
    position: absolute;
    width: 100%;
    max-width: 500px;
    top: 0px;
    left: 50%;
    transform: translateX(-40%);
  }
  .yonsei1_text2 img{
    position: absolute;
    width: 100%;
    max-width: 600px;
    bottom: -20%;
    left: 50%;
    transform: translateX(-60%);
  }

  .yonsei_img2{
    position: absolute;
    right: 0%;
    display: block;
    width: 49.8%;
    height: 798px;
    background: url(../img/show/yonsei2.jpg) no-repeat center;
    background-size: cover;
  }
  .yonsei_img3{
    position: absolute;
    bottom: 0;
    left: 0%;
    display: block;
    width: 49.8%;
    height: 798px;
    background: url(../img/show/yonsei3.jpg) no-repeat top;
    background-size: cover;
  }
  .yonsei_img4{
    position: absolute;
    bottom: 0;
    right: 0%;
    display: block;
    width: 49.8%;
    height: 798px;
    background: url(../img/show/yonsei4.jpg) no-repeat center;
    background-size: cover;
  }
  

  
  .multi_seemore,
  .nataejoo_seemore,
  .yonsei_seemore {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 160px;
    height: 48px;
    border-radius: 50px;
    line-height: 48px;
  }
  
  .multi_seemore a,
  .nataejoo_seemore a,
  .yonsei_seemore a {
    color: white;
    font-size: 20px;
  }
  
}